In [3]:
###

In [4]:
### Import Libaries

In [5]:
import requests
import pandas as pd
import json
import numpy as np

In [6]:
def book_odds(date):
    
    '''
    date => eg;20221018
    '''
    
    url = 'https://api.actionnetwork.com/web/v1/scoreboard/nba?bookIds=15,30,76,75,123,69,68,972,71,247,79&date=' + date
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:101.0) Gecko/20100101 Firefox/101.0'}
    
    r = requests.get(url, headers=headers)

    tb = json.loads(r.content.decode('utf-8'))
    
    games = tb['games']
    
    game_odds = []
    
    for i in games:
        odds = i['odds']
        
        dfs = []
        
        for o in odds:
            dfs.append(pd.DataFrame([o]))
        df = pd.concat(dfs)    
        
        t1 = pd.DataFrame([i['teams'][0]])
        t2 = pd.DataFrame([i['teams'][1]])
    
        t1 = t1[['id','full_name','display_name','short_name','location','abbr', 'standings']].add_suffix('_home')
        t2 = t2[['id','full_name','display_name','short_name','location','abbr', 'standings']].add_suffix('_away')
        
        t = pd.concat([t1,t2], axis = 1)
        dt =pd.concat([t,df], axis = 1)
        
        game_odds.append(dt)    
        
    df = pd.concat(game_odds)      
    
    book_ids = {15:'open', 30: 'best odds', 76:'Pointsbet',75:'betmgm',  123:'caesars', 69:'fanduel', 68:'draftking', 972:'betrivers', 71: 'playsugarhouse', 274:'unibet', 79: 'bet365' }
    
    df['bookie'] = df['book_id'].map(book_ids)
    
    df['bookie_date'] = date
    
    df['bet_date_id'] = df['abbr_home'] +  df['bookie_date']

    return df

In [7]:
bt = book_odds('20221018')

## **Filter by open line and best odd bookie**

In [8]:
btf = bt[bt['type'] == 'game']
btf = btf[btf['book_id'] == 30]

In [9]:
btf.head()

   id_home      full_name_home  ... bookie_date  bet_date_id
0      164      Boston Celtics  ...    20221018  BOS20221018
0      186  Los Angeles Lakers  ...    20221018  LAL20221018

[2 rows x 51 columns]

## **Get NBA Game Logs by Season**

In [30]:

def game_logs(season):
    # season: '2022-23'
    
    url = 'https://stats.nba.com/stats/leaguegamelog'
    headers= {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36', 'Referer': 'https://www.nba.com/'}
    payload = {
        'Counter': '1000',
        'DateFrom': '',
        'DateTo': '',
        'Direction': 'DESC',
        'LeagueID': '00',
        'PlayerOrTeam': 'T',
        'Season': season,
        'SeasonType': 'Regular Season',
        'Sorter': 'DATE'}
    
    jsonData = requests.get(url, headers=headers, params=payload).json()
    
    rows = jsonData['resultSets'][0]['rowSet']
    columns = jsonData['resultSets'][0]['headers']
    
    df = pd.DataFrame(rows, columns=columns)
    
    df['DATE'] = pd.to_datetime(df['GAME_DATE'])
    df['bookie_date'] = df['DATE'].dt.strftime('%Y%m%d')
    df['home'] = np.where(df['MATCHUP'].str.contains('@'), 0, 1)
    del df['SEASON_ID']
    
    df['bet_date_id'] = df['TEAM_ABBREVIATION'] + df['bookie_date']
    
    return df

In [31]:
tm = game_logs('2022-23')

In [32]:
# Group the DataFrame based on 'group_column'
grouped = tm.groupby('GAME_ID')

# Create a list of DataFrames, one for each group
grouped_dataframes = [group for _, group in grouped]

tm1 = grouped_dataframes[0]

In [33]:
len(list(tm1))

32

In [23]:
tm1 = tm1.sort_values(by='home', ascending=False)
tm1 = tm1.assign(**{f'away_{column}': value for column, value in tm1.iloc[1].items()})
tm1 = tm1.head(1).reset_index(drop= True)

In [24]:
## Drop duplicate columns

In [25]:
# Step 1: transpose the DataFrame to compare columns instead of rows
tm1_transpose = tm1.T

# Step 2: Use the 'duplicated()' function to find duplicate columns (similar values)
duplicate_columns = tm1_transpose[tm1_transpose.duplicated()]

# Step 3: Drop the duplicate columns from the original DataFrame
tm1 = tm1.drop(columns=duplicate_columns.index)

In [26]:
tm1.head()

      TEAM_ID TEAM_ABBREVIATION  ... away_home away_bet_date_id
0  1610612738               BOS  ...         0      PHI20221018

[1 rows x 52 columns]

In [27]:
btf = btf[btf['bet_date_id'] == tm1['bet_date_id'][0]]
btf.head()

   id_home  full_name_home  ... bookie_date  bet_date_id
0      164  Boston Celtics  ...    20221018  BOS20221018

[1 rows x 51 columns]

In [28]:
tm1.head()

      TEAM_ID TEAM_ABBREVIATION  ... away_home away_bet_date_id
0  1610612738               BOS  ...         0      PHI20221018

[1 rows x 52 columns]

In [29]:
len(list(tm1))

52